<div>
    <h2>Home</h2>
</div>

<div layout>
    <md-card ng-repeat="movie in vm.movieList" style="width:400px;height:800px;">
            <img ng-src="{{movie.image_path}}" class="md-card-image" alt="image caption" style="width:400px;height:450px;" text-align="center;">
        <md-card-title style="height:40px;">
            <md-card-title-text style="height:40px;">
            <span class="md-headline">{{movie.title}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p class="capitalize">Genre: {{movie.genre}}</p>
            <p>
                Run Time: {{movie.run_time}}
            </p>
            <p class="capitalize">
                {{movie.genre}}
            </p>
            <p>
                Release Date: {{movie.release_date}}
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
            <md-button>Edit</md-button>
            <md-button ng-click="vm.deleteMovie(movie)">delete</md-button>
        <md-card-icon-actions>
    </md-card>
    </div>