<div>
    <h2>Home</h2>
</div>

<div>
        <table>
            <thead>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>Image</th>
                <th>Run Time</th>
            </thead>
            <tbody>
                <tr ng-repeat="movie in vm.movieList">
                    <td>{{movie.title}}</td>
                    <td class="capitalize">{{movie.genre}}</td>
                    <td>{{movie.release_date}}</td>
                    <td><img ng-src="{{movie.image_path}}"/></td>
                    <td>{{movie.run_time}}</td>
                    <td><button ng-click="vm.deleteMovie(movie)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>