<div>
<h2>Add Movie</h2>
</div>

<div>
    <form action="">
        <input type="text" placeholder="Title" ng-model="vm.newMovie.title">
        <input type="text" placeholder="Genre" ng-model="vm.newMovie.genre">
        <input type="text" placeholder="Release Date" ng-model="vm.newMovie.release_date">
        <input type="text" placeholder="Image URL" ng-model="vm.newMovie.image_path">
        <input type="text" placeholder="Run Time" ng-model="vm.newMovie.run_time">
        <input ng-click="vm.addMovie()"type="submit" placeholder="Submit">
    </form>
</div>

<div>
    <table>
        <thead>
            <th>Title</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Image</th>
            <th>Run Time</th>
        </thead>
        <tbody>
            <tr ng-repeat="movie in vm.movieList">
                <td>{{movie.title}}</td>
                <td>{{movie.genre}}</td>
                <td>{{movie.release_date}}</td>
                <td>{{movie.image_path}}</td>
                <td>{{movie.run_time}}</td>
            </tr>
        </tbody>
    </table>
</div>