<div>
<h2>Add Movie</h2>
</div>

<div>
    <md-form-field>
        <input type="text" placeholder="Title" ng-model="vm.newMovie.title">
        <!-- <md-select placeholder="Genre" [(value)]="selected" ng-model="vm.genreList.id" ng-options="vm.genre.id as vm.genre.name for genre in vm.genreList">
            <md-option ng-value="genre.id">{{genre.name}}</md-option>
        </md-select> -->
        <select ng-model="vm.newMovie.genre_id" 
        ng-options="genre.id as genre.name for genre in vm.genreList">
        <select>
        <input type="text" placeholder="Release Date" ng-model="vm.newMovie.release_date">
        <input type="text" placeholder="Image URL" ng-model="vm.newMovie.image_path">
        <input type="text" placeholder="Run Time" ng-model="vm.newMovie.run_time">
        <input ng-click="vm.addMovie()"type="submit" placeholder="Submit">
    </md-form-field>
</div>